@page
@{

}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="male" />
    <button onclick="males()">Send</button>
    <a class="info"></a>
    <input type="text" id="malek" />
    <button onclick="maled()">Send</button>
    <a class="infos"></a>
    <script src="/front-end/js/new.js"></script>
    <footer>
        <div class="cont">
            <div class="logo-foot">
                <img src="../imgs/logoza.ru-PhotoRoom 4.png">
            </div>
            <div class="soc">
                <a href="https://vk.com/undertakero"><img src="../imgs/VK_Compact_Logo_(2021-present).svg.webp" class="vk"></a>
                <a href="https://web.telegram.org/a/#1995608519"><img src="../imgs/Telegram_2019_Logo.svg.webp" class="vk"></a>
            </div>
            Телефоны для связи:
            +7 982 120 6764
        </div>
    </footer>
</body>