body{
    margin: 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #5d8f9b;
}
#vsio
{
    z-index: 0;
}
.header-image{
    background-color: #56B8CD;
    display: flex;
    justify-content: center;
}
.logo{
    max-width: 100%;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: center;
    height: 45px;
    background-color: #56B8CD;
    word-spacing: 130px;
   
}
.navmenu{
    font-size: 25px;
    gap: 30px;
}
.option-on{
    border: solid rgb(255, 255, 255) 2px;
    font-size: 23px;
    background-color: #fff;
    border-radius: 7px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}
.lang{
    border: solid rgb(255, 255, 255) 2px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 7px;
    padding: 5px 10px;
}
.tema{
    border: solid rgb(255, 255, 255) 2px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 7px;
    padding: 5px 10px;
}
.login{
    color: black;
}
.logup{
    color: black;
}

.block{
    width: 400px;
    height: 450px;
    margin-left: 33%;
    margin-top: 5%;
    background-color: #ffffff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}
#form-block{
    margin-left: 28%;
}
.tittle{
    margin-left: 20px;
    margin-top: 20px;
}
.sign{
    text-decoration: none;
    color: black;
}
button{
    background-color: #72C4D7;
    border: none;
    padding: 5px 10px;
}
.dis{
    margin-top: 20px;
    position: absolute;
}
.form{
    padding: 5px 10px;
}