
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.header-image{
    background-color: #56B8CD;
    display: flex;
    justify-content: center;
}
.logo{
    max-width: 100%;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: center;
    height: 45px;
    background-color: #56B8CD;
    word-spacing: 70px;
   
}
.navmenu{
    font-size: 25px;
    gap: 30px;
}
.option-on{
    border: solid rgb(255, 255, 255) 2px;
    font-size: 23px;
    background-color: #fff;
    border-radius: 7px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}
.lang{
    border: solid rgb(255, 255, 255) 2px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 7px;
    padding: 5px 10px;
}
.tema{
    border: solid rgb(255, 255, 255) 2px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 7px;
    padding: 5px 10px;
}
.login{
    color: black;
}
.logup{
    color: black;
}
main {
  margin: 20px;
  display: inline-flex
}

main h2 {
  margin-bottom: 20px;
  margin-left: 30%;
}

main ul {
  list-style: none;
  margin: 0;
  padding: 0;
margin-left: 20%;
margin-top: 10%;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;

  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info__name {
    margin-right: 10px;
    font-weight: bold;
    color: #333;
    font-size: 40px;
  }
  
  .user-info__photo {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
  }
main li {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 20px;
  width: 300px;
}

main h3 {
  margin-top: 0;
}

main p {
  font-size: 18px;
  margin-bottom: 10px;
}

main button {
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

main button:hover {
  background-color: #3e8e41;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav {
    margin-top: 20px;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-left: 0;
    margin-bottom: 10px;
  }
}