body{
    margin: 0px;
    font-family: 'PT Sans Narrow', sans-serif;
}
#vsio
{
    z-index: 0;
}
header{
    user-select: none;
  }
    body{
        margin: 0;
        font-family: 'PT Sans Narrow', sans-serif;
    }
    a{
        text-decoration: none;
        color: black;
    }
    article{
        text-align: center;
        user-select: none;
    }
    .header-image{
        background-color: #56B8CD;
        display: flex;
        justify-content: center;
    }
    .logo{
        max-width: 100%;
        box-sizing: border-box;
    }
    nav{
        display: flex;
        justify-content: center;
        height: 45px;
        background-color: #fff;
        word-spacing: 130px;
        margin-top: 15px;
    }
    .navmenu{
        font-size: 25px;
        gap: 30px;
        text-decoration: none;
        color: black;
    }
    .option-on{
        color: black;
    }
    .lang{
        border: solid rgb(255, 255, 255) 2px;
        font-size: 20px;
        background-color: #fff;
        border-radius: 7px;
        padding: 5px 10px;
    }
    .tema{
        border: solid rgb(255, 255, 255) 2px;
        font-size: 20px;
        background-color: #fff;
        border-radius: 7px;
        padding: 5px 10px;
    }
    .login{
        color: black;
    }
    .logup{
        color: black;
    }
    .tittle1{
        color: black;
        font-size: 70px;
        margin-top: 50px;
        font-weight: bold;
    }
    .navmenu a:hover{
        border-bottom: 2px solid black;
    }

.block{
    width: 400px;
    height: 450px;
    margin-top: 5%;
    background-color: #ffffff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
}
#form-block{
    margin-left: 28%;
}
.tittle{
    margin-left: 20px;
    margin-top: 20px;
}
.sign{
    text-decoration: none;
    color: black;
}
button{
    background-color: #72C4D7;
    border: none;
    padding: 5px 10px;
}
.dis{
    margin-top: 20px;
    position: absolute;
}
.form{
    padding: 5px 10px;
}
article{
    display: flex;
    justify-content: center;
}