@media screen and (max-width: 2000px) {
    body{
        margin: 0;
        font-family: 'PT Sans Narrow', sans-serif;
    }
    a{
        text-decoration: none;
    }
    article{
        text-align: center;
    }
    .header-image{
        background-color: #56B8CD;
        display: flex;
        justify-content: center;
    }
    .logo{
        max-width: 100%;
        box-sizing: border-box;
    }
    nav{
        display: flex;
        justify-content: center;
        height: 45px;
        background-color: #fff;
        word-spacing: 70px;
        margin-top: 15px;
    }
    .navmenu{
        font-size: 25px;
        gap: 30px;
    }
    .option-on{
        color: black;
    }
    .lang{
        border: solid rgb(255, 255, 255) 2px;
        font-size: 20px;
        background-color: #fff;
        border-radius: 7px;
        padding: 5px 10px;
    }
    .tema{
        border: solid rgb(255, 255, 255) 2px;
        font-size: 20px;
        background-color: #fff;
        border-radius: 7px;
        padding: 5px 10px;
    }
    .login{
        color: black;
    }
    .logup{
        color: black;
    }
    .tittle1{
        color: black;
        font-size: 70px;
        margin-top: 50px;
        font-weight: bold;
    }
    .navmenu a:hover{
        border-bottom: 2px solid black;
    }
    .tittle2{
        color: black;
        font-size: 75px;
        margin-top: 40px;
        font-weight: bold;
    }
    .goals{
        text-decoration: none;
        color: black;
        font-size: 75px;
        font-weight: bold;
    }
    .start{
        margin-top: 60px;
    }
    .start-btn{
        background-color: #FDBF5E;
        font-size: 50px;
        color: black;
        padding: 15px 15px;
    }
    .arrow{
        margin-top: 50px;
    }
    }
    
    @media screen and (max-width: 1200px) {
    
    }
    
    @media screen and (max-width: 998px) {
    
    }
    
    @media screen and (max-width: 768px) {
    
    }
    
    @media screen and (max-width: 576px) {
    
    }