body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
#main-page{
    width: 100%;
    height: 900px;
    background-color: #3A869D;
    background-attachment: fixed;
    margin-top: 0;
}
header{
    background-color:#72C4D7;
    height: 120px;
    width: 100%;
    object-fit: cover;
}
#menu{
    display: flex;
    padding-left: 10px;
    align-items: center;
}
.li{
    display: inline;
}
.option-on{
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-decoration: none;
    margin-left: 5%;
}
.sign-in{
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-decoration: none;
    margin-left: 20%;
}
.sign-up{
    color: rgb(0, 0, 0);
    margin-left: 5%;
    background-color: #3A869D;
    padding: 8px 12px;
    border-radius: 7px;
    font-size: 24px;
    text-decoration: none;
}
.headtree
{
    background-color: azure;
    height: 300px;
    width: 300px;
    position: absolute;
    margin-top:0%;
    margin-left:10%;
    border: 2px solid black;
    border-image: linear-gradient(20deg, #f92056 38%, #00deff 65%);
    border-image-slice: 1;
    
}
.headtree img{
    height: 200px;
    width: 300px;
}
.hand
{
    background-color: azure;
    height: 300px;
    width: 300px;
    position: absolute;
    margin-top: 15%;
    margin-left: 40%;
    border: 2px solid black;
    border-image: linear-gradient(20deg, #f92056 38%, #00deff 65%);
    border-image-slice: 1;
    
}
.hand img
{
    height: 200px;
    width: 300px;
    align-items: center;
}
.progress
{
    background-color: azure;
    height: 300px;
    width: 300px;
    position: absolute;
    border: 2px solid black;
    border-image: linear-gradient(20deg, #f92056 38%, #00deff 65%);
    border-image-slice: 1;
    margin-left: 70%;
    
}
.progress img{
    height: 200px;
    width: 300px;
}
.succes{
    margin-left: 35%;
    color:black;
    font-size: 40px;
    margin-top: 0px;
}
.succes strong
{
    font-size: 40px;}
.header-img{
    margin-top: 10px;
}
#raz{
    font-size: 64px;
    margin-top: 0px;
    font-weight: 400;
}
#zal{
    font-size: 24px;
    margin-top: 0px;
    font-weight: 400;
}