body
{
    user-select: none;
    margin: 0;
}
header{
    background-color: #72C4D7;
    height: 120px;
    object-fit: cover;
}
.option-on{
    color: black;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
.header-img{
    margin-top: 10px;
}
#menu{
    align-items: center;
}